<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<style>
  header-drawer {
    justify-self: start;
    width: 100%;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 992px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    background-color: #f7f7f7;
    padding: 12px 12px 12px 17px;
    border-radius: 13px;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color:#000000;
    padding: 0
  }
  .list-menu__item span {
    font-size: 14px;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 768px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  @media screen and (min-width: 1200px) {
    .list-menu__item span {
      font-size: 16px;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 0;

  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 768px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 992px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
%}

<{{ header_tag }}
  {% if header_tag == 'sticky-header' %}
    data-sticky-type="{{ section.settings.sticky_header_type }}"
  {% endif %}
  class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}"
>
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
      {%- liquid
        if section.settings.menu != blank
          render 'header-drawer'
        endif

        if section.settings.logo_position == 'top-center' or section.settings.menu == blank
          render 'header-search', input_id: 'Search-In-Modal-1'
        endif
      -%}
    <div class="header-left">
      {%- if section.settings.logo_position != 'middle-center' -%}
        <a href="{{ routes.root_url }}" class="header__heading-link">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endif -%}

      {%- liquid
        if section.settings.menu != blank
          if section.settings.menu_type_desktop == 'dropdown'
            render 'header-dropdown-menu'
          elsif section.settings.menu_type_desktop != 'drawer'
            render 'header-mega-menu'
          endif
        endif
      %}
      <div class="header-mega-mennu">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'custom_liquid' -%}
              {{ block.settings.custom_liquid }}
            {% when 'ai_mega_menu' %}
              {% render 'mega-menu-slider', section: section, block: block class: small-hide%}
          {%- endcase -%}
        {%- endfor -%}
    </div>
      {%- if section.settings.logo_position == 'middle-center' -%}
        {%- if request.page_type == 'index' -%}
          <h1 class="header__heading">
        {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(min-width: 768px) {{ settings.logo_width }}px, 50vw{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
        {%- if request.page_type == 'index' -%}
          </h1>
        {%- endif -%}
      {%- endif -%}
      {% render 'header-search-new', input_id: 'Search-In-Modal' %}
    </div>
    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          rel="nofollow"
        >
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% if cart == empty %}
          <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}            
          </span>
        {% else %}
          <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}
           {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}           
          </span>
        {% endif %}
        <span class="">{{ 'templates.cart.cart' | t }}</span>
      </a>
    </div>
  </header>
</{{ header_tag }}>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky =
        this.getAttribute('data-sticky-type') === 'always' ||
        this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      }

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "range",
      "id": "mega_products_limit",
      "label": "Mega menu products to show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__utilities.content"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info": "t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "ai_mega_menu",
      "name": "AI Mega menu",
      "limit": 3,
      "settings": [
        /* copy ALL settings from your schema's "settings" array */
        {
          "type": "header",
          "content": "Menu trigger"
        },
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title",
          "default": "Shop"
        },
    {
      "type": "range",
      "id": "menu_font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "color",
      "id": "menu_bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "menu_text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "menu_hover_bg_color",
      "label": "Hover background color",
      "default": "#f4f4f4"
    },
    {
      "type": "color",
      "id": "menu_hover_text_color",
      "label": "Hover text color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Dropdown"
    },
    {
      "type": "range",
      "id": "dropdown_max_width",
      "min": 800,
      "max": 1400,
      "step": 50,
      "unit": "px",
      "label": "Maximum width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "dropdown_padding",
      "min": 20,
      "max": 60,
      "step": 5,
      "unit": "px",
      "label": "Padding",
      "default": 40
    },
    {
      "type": "color",
      "id": "dropdown_bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "divider_color",
      "label": "Divider color",
      "default": "#e0e0e0"
    },
    {
      "type": "header",
      "content": "Menu columns"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Number of columns",
      "default": 3
    },
    {
      "type": "range",
      "id": "column_title_size",
      "min": 14,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Column title size",
      "default": 16
    },
    {
      "type": "color",
      "id": "column_title_color",
      "label": "Column title color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "link_font_size",
      "min": 12,
      "max": 18,
      "step": 1,
      "unit": "px",
      "label": "Link font size",
      "default": 14
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Link hover color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Column 1"
    },
    {
      "type": "text",
      "id": "column_1_title",
      "label": "Title",
      "default": "New Arrivals"
    },
    {
      "type": "text",
      "id": "column_1_link_1_text",
      "label": "Link 1 text",
      "default": "T-Shirts"
    },
    {
      "type": "url",
      "id": "column_1_link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "column_1_link_2_text",
      "label": "Link 2 text",
      "default": "Hoodies"
    },
    {
      "type": "url",
      "id": "column_1_link_2_url",
      "label": "Link 2 URL"
    },
    {
      "type": "text",
      "id": "column_1_link_3_text",
      "label": "Link 3 text",
      "default": "Jackets"
    },
    {
      "type": "url",
      "id": "column_1_link_3_url",
      "label": "Link 3 URL"
    },
    {
      "type": "text",
      "id": "column_1_link_4_text",
      "label": "Link 4 text"
    },
    {
      "type": "url",
      "id": "column_1_link_4_url",
      "label": "Link 4 URL"
    },
    {
      "type": "text",
      "id": "column_1_link_5_text",
      "label": "Link 5 text"
    },
    {
      "type": "url",
      "id": "column_1_link_5_url",
      "label": "Link 5 URL"
    },
    {
      "type": "text",
      "id": "column_1_link_6_text",
      "label": "Link 6 text"
    },
    {
      "type": "url",
      "id": "column_1_link_6_url",
      "label": "Link 6 URL"
    },
    {
      "type": "header",
      "content": "Column 2"
    },
    {
      "type": "text",
      "id": "column_2_title",
      "label": "Title",
      "default": "Collections"
    },
    {
      "type": "text",
      "id": "column_2_link_1_text",
      "label": "Link 1 text",
      "default": "Men"
    },
    {
      "type": "url",
      "id": "column_2_link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "column_2_link_2_text",
      "label": "Link 2 text",
      "default": "Women"
    },
    {
      "type": "url",
      "id": "column_2_link_2_url",
      "label": "Link 2 URL"
    },
    {
      "type": "text",
      "id": "column_2_link_3_text",
      "label": "Link 3 text",
      "default": "Kids"
    },
    {
      "type": "url",
      "id": "column_2_link_3_url",
      "label": "Link 3 URL"
    },
    {
      "type": "text",
      "id": "column_2_link_4_text",
      "label": "Link 4 text"
    },
    {
      "type": "url",
      "id": "column_2_link_4_url",
      "label": "Link 4 URL"
    },
    {
      "type": "text",
      "id": "column_2_link_5_text",
      "label": "Link 5 text"
    },
    {
      "type": "url",
      "id": "column_2_link_5_url",
      "label": "Link 5 URL"
    },
    {
      "type": "text",
      "id": "column_2_link_6_text",
      "label": "Link 6 text"
    },
    {
      "type": "url",
      "id": "column_2_link_6_url",
      "label": "Link 6 URL"
    },
    {
      "type": "header",
      "content": "Column 3"
    },
    {
      "type": "text",
      "id": "column_3_title",
      "label": "Title",
      "default": "Accessories"
    },
    {
      "type": "text",
      "id": "column_3_link_1_text",
      "label": "Link 1 text",
      "default": "Bags"
    },
    {
      "type": "url",
      "id": "column_3_link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "column_3_link_2_text",
      "label": "Link 2 text",
      "default": "Hats"
    },
    {
      "type": "url",
      "id": "column_3_link_2_url",
      "label": "Link 2 URL"
    },
    {
      "type": "text",
      "id": "column_3_link_3_text",
      "label": "Link 3 text",
      "default": "Belts"
    },
    {
      "type": "url",
      "id": "column_3_link_3_url",
      "label": "Link 3 URL"
    },
    {
      "type": "text",
      "id": "column_3_link_4_text",
      "label": "Link 4 text"
    },
    {
      "type": "url",
      "id": "column_3_link_4_url",
      "label": "Link 4 URL"
    },
    {
      "type": "text",
      "id": "column_3_link_5_text",
      "label": "Link 5 text"
    },
    {
      "type": "url",
      "id": "column_3_link_5_url",
      "label": "Link 5 URL"
    },
    {
      "type": "text",
      "id": "column_3_link_6_text",
      "label": "Link 6 text"
    },
    {
      "type": "url",
      "id": "column_3_link_6_url",
      "label": "Link 6 URL"
    },
    {
      "type": "header",
      "content": "Column 4"
    },
    {
      "type": "text",
      "id": "column_4_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "column_4_link_1_text",
      "label": "Link 1 text"
    },
    {
      "type": "url",
      "id": "column_4_link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "column_4_link_2_text",
      "label": "Link 2 text"
    },
    {
      "type": "url",
      "id": "column_4_link_2_url",
      "label": "Link 2 URL"
    },
    {
      "type": "text",
      "id": "column_4_link_3_text",
      "label": "Link 3 text"
    },
    {
      "type": "url",
      "id": "column_4_link_3_url",
      "label": "Link 3 URL"
    },
    {
      "type": "text",
      "id": "column_4_link_4_text",
      "label": "Link 4 text"
    },
    {
      "type": "url",
      "id": "column_4_link_4_url",
      "label": "Link 4 URL"
    },
    {
      "type": "text",
      "id": "column_4_link_5_text",
      "label": "Link 5 text"
    },
    {
      "type": "url",
      "id": "column_4_link_5_url",
      "label": "Link 5 URL"
    },
    {
      "type": "text",
      "id": "column_4_link_6_text",
      "label": "Link 6 text"
    },
    {
      "type": "url",
      "id": "column_4_link_6_url",
      "label": "Link 6 URL"
    },
    {
      "type": "header",
      "content": "Product slider"
    },
    {
      "type": "text",
      "id": "products_section_title",
      "label": "Section title",
      "default": "Featured Products"
    },
    {
      "type": "range",
      "id": "products_title_size",
      "min": 14,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Title size",
      "default": 18
    },
    {
      "type": "product_list",
      "id": "featured_products",
      "label": "Products",
      "limit": 8
    },
    {
      "type": "color",
      "id": "product_text_color",
      "label": "Product text color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "product_image_radius",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Image border radius",
      "default": 4
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Autoplay speed",
      "default": 4
    }
      ]
    }

  ]
}
{% endschema %}
